.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  margin-left: 0.5px;
  z-index: 200;
  padding-top: 5px;
}
.sidebar-link {
  height: 74px;
  margin-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.sidebar-link:hover {
  background-color: rgb(236, 234, 234);
  transition: 0.2s;
  cursor: pointer;
  zoom: 1.05;
}
.sidebar-link img {
  height: 30px;
  margin-bottom: 4px;
}
.sidebar-link div {
  font-size: 10px;
}
